<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <h2>Editing notebook</h2>
      <%= simple_form_for @notebook do |f| %>

        <%= f.input :full_price %>
        <%= f.input :offer_price %>
        <%= f.input :brand %>
        <%= f.input :modelo %>
        <%= f.input :processor %>
        <%= f.input :color %>
        <%= f.input :screen %>
        <%= f.input :ram %>
        <%= f.input :hd %>
        <%= f.input :ssd %>
        <%= f.input :placa_video %>
        <%= f.input :amazon_sales_rank %>
        <%= f.input :guarantee %>
        <%= f.input :link_amazon, hint:'Coloque o link de afiliado da Amazon'  %>

        <%= f.input :photo, as: :file %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>

    </div>
  </div>
</div>
