<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <h2>Editing notebook</h2>
      <%= simple_form_for @notebook do |f| %>

        <%= f.input :full_price %>
        <%= f.input :offer_price %>
        <%= f.input :brand %>
        <%= f.input :modelo %>
        <%= f.input :processor %>
        <%= f.input :color %>
        <%= f.input :screen %>
        <%= f.input :ram %>
        <%= f.input :hd %>
        <%= f.input :ssd %>
        <%= f.input :placa_video %>
        <%= f.input :amazon_sales_rank %>
        <%= f.input :guarantee %>
        <%= f.input :link_amazon, hint:'Coloque o link de afiliado Amazon'  %>
        <%= f.input :link_magalu, hint:'Coloque o link  de afiliado Magalu' %>
        <%= f.input :link_americanas, hint:'Coloque o link  de afiliado Americanas' %>
        <%= f.input :link_submarino, hint:'Coloque o link  de afiliado Submarino' %>

        <%= f.input :photo, as: :file %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
