<!-- ESSA TELA QUE SO MOSTRA AS TAGS -->

<!-- Barra de busca -->
<form novalidate="novalidate" class="simple_form search" id="form-control-position" >
  <div class="search-form-control form-group">
    <input class="form-control" placeholder="Buscar por tags (ex: photoshop)" id="mobile-form-input" >
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i>
    </button>
  </div>
</form>


<!-- Opções selecionadas -->
<div class="title">
  <strong>TAGS Selecionadas:</strong>
</div>

<div class="tag-row">

  <% if @query %>
    <% @query.each do |item| %>
      <div class="mobile-index-tag">
        <p><%= item.capitalize %></p>
      </div>
    <% end %>
  <%# else %>

    <!-- <div class="mobile-index-tag">
      <p>ADMINISTRAÇÃO</p>
    </div>
    <div class="mobile-index-tag">
      <p>i5</p>
    </div>
    <div class="mobile-index-tag">
      <p>PACOTE OFFICE</p>
    </div>
    <div class="mobile-index-tag">
      <p>LEVE</p>
    </div>
    <div class="mobile-index-tag">
      <p>R$2.500</p>
    </div> -->
  <% end %>

</div>


<!-- TAGS para selecionar -->
<div class="mobile-selected-tags">
  <div class="title">
    <strong>Preços:</strong>
  </div>

  <!-- Fazer um EACH de tags.prices -->

  <div class="tag-row">
    <div class="mobile-index-tag">
      <p>+ Insira um Valor</p>
    </div>
    <div class="mobile-index-tag">
      <p>Até R$ 2.000,00</p>
    </div>
    <div class="mobile-index-tag">
      <p>Até R$ 2.500,00</p>
    </div>
    <div class="mobile-index-tag">
      <p>Até R$ 3.000,00</p>
    </div>
    <div class="mobile-index-tag">
      <p>Até R$ 3.500,00</p>
    </div>
    <div class="mobile-index-tag">
      <p>Até R$ 4.000,00</p>
    </div>
    <div class="mobile-index-tag">
      <p>Até R$5.000,00</p>
    </div>
  </div>

  <div class="title">
    <strong>Cursos:</strong>
  </div>

  <!-- Fazer um EACH de tags.courses -->

  <div class="tag-row">
    <div class="mobile-index-tag">
      <p>Buscar curso</p>
    </div>
    <div class="mobile-index-tag">
      <p>Administração</p>
    </div>
    <div class="mobile-index-tag">
      <p>Arquitetura</p>
    </div>
    <div class="mobile-index-tag">
      <p>Ciência da computação</p>
    </div>
    <div class="mobile-index-tag">
      <p>Engenharia Civil</p>
    </div>
    <div class="mobile-index-tag">
      <p>Engenharia de Automação</p>
    </div>
    <div class="mobile-index-tag">
      <p>Engenharia Elétrica</p>
    </div>
  </div>
</div>

<!-- Resultado de busca com notebooks - colocando aqui pra TESTE pra visualizacao -->
<div class="mobile-results">
  <div class="mobile-card-result">
    <% @notebooks.each do |notebook|  %>
      <%= link_to notebook_path(notebook), data: { turbolinks: false } do %>
        <% if notebook.pictures.attached? %>
          <%= cl_image_tag(notebook.pictures.first.key) %>
        <% elsif notebook.photo.attached? %>
          <%= cl_image_tag(notebook.photo.key) %>
        <% else %>
          <%= image_tag('noimage.png') %>
        <% end %>

        <% if notebook.name.nil? %>
          <p class="name"><%= notebook.general_info.split('').first(60).join('') %></p>
        <% else %>
          <p class="name"><%= notebook.name.split('').first(60).join('') %>...</p>
        <% end %>

        <p class="price"><%= notebook.amazon_price %></p>
      <% end %>
    <% end %>
  </div>
</div>

<!-- Temos pictures e photo acopladas. O photo fizemos no comeco mas
depois queriamos poder colocar varias so que nao dava pra mudar isso sem ter que
fazer tudo de novo ai colocamos o pictures que e o que usamos principalmente -->
