<div class="fixing-margin">

  <div class="index-page-centralize">

    <div class="container flex-center">

      <!-- SIDEBAR -->
      <div class="sidebar">
        <div class="sidebar-title">
          <h3><strong>Curso</strong></h3>

          <form novalidate="novalidate" class="simple_form search" >
            <div class="search-form-control form-group">
              <input class="form-control">
              <button name="button" type="submit" class="btn btn-flat">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>

          <div class="overflow">
            <label class="container-check">Administração
              <input type="checkbox">
              <span class="check"></span>
            </label>

            <label class="container-check">Arquitetura e urbanismo
              <input type="checkbox">
              <span class="check"></span>
            </label>

            <label class="container-check">Ciência da computação
              <input type="checkbox">
              <span class="check"></span>
            </label>

            <label class="container-check">Ciências contábeis
              <input type="checkbox">
              <span class="check"></span>
            </label>

            <label class="container-check">Contabilidade
              <input type="checkbox">
              <span class="check"></span>
            </label>

            <label class="container-check">Direito
              <input type="checkbox">
              <span class="check"></span>
            </label>

            <div class="centralizando-engenharias">
              <%= image_tag("lista.png", width: "10", height: "10") %>
              <label class="container-check">Engenharias
                <%= image_tag("seta.png", width: "10", height: "10") %>
              </label>
            </div>

            <label class="container-check">Farmácia
              <input type="checkbox">
              <span class="check"></span>
            </label>

            <label class="container-check">Fisioterapia
              <input type="checkbox">
              <span class="check"></span>
            </label>

            <label class="container-check">Jornalismo
              <input type="checkbox">
              <span class="check"></span>
            </label>

            <label class="container-check">Medicina
              <input type="checkbox">
              <span class="check"></span>
            </label>

            <label class="container-check">Medicina veterinária
              <input type="checkbox">
              <span class="check"></span>
            </label>

          </div>
        </div>

        <!-- --------------------------- -->

        <div class="sidebar-title">
          <h3 class="margin-top"><strong>Software</strong></h3>
          <p class="margin-left-8">Ex: canva ou editor de foto</p>

          <form class="simple_form search" >
            <div class="search-form-control form-group">
              <input class="form-control">
              <button name="button" type="submit" class="btn btn-flat">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
        </div>
        <!-- --------------------------- -->

        <div class="sidebar-title">
          <h3 class="margin-top"><strong>Tela</strong></h3>
          <a href=""><p>Ver tamanho na prática</p></a>

          <label class="container-check">13"
            <input type="checkbox">
            <span class="check"></span>
          </label>

          <label class="container-check">15"
            <input type="checkbox">
            <span class="check"></span>
          </label>

          <label class="container-check">17"
            <input type="checkbox">
            <span class="check"></span>
          </label>
        </div>

        <!-- --------------------------- -->

        <div class="sidebar-title">
          <h3 class="margin-top"><strong>Marcas</strong></h3>

          <div class="sidebar-coluna">

            <div class="flex-row">
              <label class="container-check margin-bottom">Acer
                <input type="checkbox">
                <span class="check"></span>
              </label>

              <label class="container-check margin-bottom">Lenovo
                <input type="checkbox">
                <span class="check"></span>
              </label>
            </div>

            <div class="flex-row">
              <label class="container-check margin-bottom">Asus
                <input type="checkbox">
                <span class="check"></span>
              </label>

              <label class="container-check margin-bottom">Samsung
                <input type="checkbox">
                <span class="check"></span>
              </label>
            </div>
          </div>


          <div class="sidebar-coluna">

            <div class="flex-row">
              <label class="container-check margin-bottom">Dell
                <input type="checkbox">
                <span class="check"></span>
              </label>

              <label class="container-check margin-bottom">Vaio
                <input type="checkbox">
                <span class="check"></span>
              </label>
            </div>

            <div class="flex-row">
              <label class="container-check margin-bottom">HP
                <input type="checkbox">
                <span class="check"></span>
              </label>

              <label class="container-check margin-bottom">Samsung
                <input type="checkbox">
                <span class="check"></span>
              </label>
            </div>
          </div>
        </div>

        <!-- --------------------------- -->

        <div class="sidebar-title">
          <h3 class="margin-top"><strong>Preço</strong></h3>
          <h6 class="text-opacity">Quanto pretende investir?</h6>

          <div class="sidebar-coluna">

            <div class="flex-row">
              <label class="container-check margin-bottom">Até R$2.000
                <input type="checkbox">
                <span class="check"></span>
              </label>

              <label class="container-check margin-bottom">Até R$4.000
                <input type="checkbox">
                <span class="check"></span>
              </label>
            </div>

            <div class="flex-row">
              <label class="container-check margin-bottom">Até R$2.500
                <input type="checkbox">
                <span class="check"></span>
              </label>

              <label class="container-check margin-bottom">Até R$4.500
                <input type="checkbox">
                <span class="check"></span>
              </label>
            </div>
          </div>

          <div class="sidebar-coluna">

            <div class="flex-row">
              <label class="container-check margin-bottom">Até R$3.000
                <input type="checkbox">
                <span class="check"></span>
              </label>

              <label class="container-check margin-bottom">Até R$5.000
                <input type="checkbox">
                <span class="check"></span>
              </label>
            </div>

            <div class="flex-row">
              <label class="container-check margin-bottom">Até R$3.500
                <input type="checkbox">
                <span class="check"></span>
              </label>

              <label class="container-check margin-bottom">Até R$5.500
                <input type="checkbox">
                <span class="check"></span>
              </label>
            </div>
          </div>
        </div>


      <!-- --------------------------- -->
      <!-- Cards com perfis -->
        <div class="cards">
          <div class="card-category">
            <img src="https://www.w3schools.com/images/w3schools_green.jpg" width="50" height="50">
            <h3>Dia a dia</h3>
            <div class="row">
              <p>LEVE</p>
              <p>NETFLIX</p>
              <p>PACOTE OFFICE</p>
              <p>R$2.500</p>
            </div>
          </div>

          <div class="card-category">
            <img src="https://www.w3schools.com/images/w3schools_green.jpg" width="50" height="50">
            <h3>Filme em casa</h3>
            <div class="row">
              <p>FULL HD</p>
              <p>LEVE</p>
              <p>NETFLIX</p>
              <p>POPCORN TIME</p>
              <p>R$2.500</p>
            </div>
          </div>

          <div class="card-category">
            <img src="https://www.w3schools.com/images/w3schools_green.jpg" width="50" height="50">
            <h3>Pro trabalho</h3>
            <div class="row">
              <p>i5</p>
              <p>FULL HD</p>
              <p>OFFICE</p>
              <p>R$2.500</p>
            </div>
          </div>

          <div class="card-category">
            <img src="https://www.w3schools.com/images/w3schools_green.jpg" width="50" height="50">
            <h3>Faculdade</h3>
            <div class="row">
              <p>i5</p>
              <p>LEVE</p>
              <p>FULL HD</p>
              <p>PACOTE OFFICE</p>
              <p>R$2.500</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Parte que mostra as TAGS selecionadas -->
    <div class="selected-tags-and-notebook-results">

      <div class="selected-tags">
        <div class="title">
          <strong>TAGS Selecionadas:</strong>
        </div>

        <div class="row">
          <div class="tags">
            <p>ADMINISTRAÇÃO</p>
          </div>
          <div class="tags">
            <p>i5</p>
          </div>
          <div class="tags">
            <p>PACOTE OFFICE</p>
          </div>
          <div class="tags">
            <p>LEVE</p>
          </div>
          <div class="tags">
            <p>R$2.500</p>
          </div>
        </div>
      </div>



      <div class="notebook-results">
        <%@notebooks.each do |notebook|  %>

          <!-- Lógica para só o admin ver o notebook verde depois de editado -->
          <% if current_user && current_user.admin == true %>
            <% if notebook.edited  %>
              <%= link_to notebook_path(notebook), data: { turbolinks: false }, style:'border:3px solid green;' do %>
                <div class="notebook-card">
                  <%= cl_image_tag notebook.photo.key%>
                  <div class="notebook-info-centralize">
                    <div class="notebook-info">
                      <p class="name"><%= notebook.general_info.split('').first(65).join('') %>...</p>
                      <p class="price"><%= notebook.amazon_price %></p>
                    </div>
                  </div>
                </div>
              <% end %>

            <% else %>
              <%= link_to notebook_path(notebook), data: { turbolinks: false } do %>
                <div class="notebook-card">
                  <%= cl_image_tag notebook.photo.key%>
                  <div class="notebook-info-centralize">
                    <div class="notebook-info">
                      <p class="name"><%= notebook.general_info.split('').first(55).join('') %>...</p>
                      <p class="price"><%= notebook.amazon_price %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>

            <!-- O que a pessoa ve se nao for admin -->
          <% else %>
            <%= link_to notebook_path(notebook), data: { turbolinks: false } do %>
              <div class="notebook-card">
                <%= cl_image_tag notebook.photo.key%>
                <div class="notebook-info-centralize">
                  <div class="notebook-info">
                    <p class="name"><%= notebook.general_info.split('').first(55).join('') %>...</p>
                    <p class="price"><%= notebook.amazon_price %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>

  <!-- Notebooks Selecionados -->



<!-- --------------------------- -->
    <!-- Ver se notebook X é uma boa pra pessoa -->
    <!-- Disponibilizar na V2 -->

<!--     <div class="card-match">
      <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="notebook" width="50" height="50">
      <div class="infos">
        <h4>Teste</h4>
        <p>Algumas infos do notebook</p>
      </div>

      <div class="many-btn-inline">
        <div class="btn btn-red">VER MAIS</div>
        <div class="btn btn-blue">MATCH</div>
      </div>
    </div>

    <div class="card-wagon">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-wagon-infos">
        <h2>Notebook Lenovo IdeaPad S145 Intel Core i5 8265U 15,6"</h2>
      </div>
    </div> -->
