<div class="fixing-margin">

  <div class="d-flex justify-content-between">
    <div class="list-content">
      <% @notebooks.each do |notebook| %>

        <div class="card-list">
          <div class="card-list-content">
            <img src="<%= cl_path(notebook.photo.key) %>" />
            <div class="card-list-infos">
              <h2>Position - <%= notebook.position %></h2>
              <p>Nome: <%= notebook.name %></p>
              <p>Tags:
                <% notebook.tags.each do |tag| %>
                <%= tag.name %> -
                <% end %>
              </p>
            </div>
          </div>
          <div class="card-actions">
            <%= link_to edit_notebook_path(notebook) do %>
              <i class="btn btn-lg fas fa-edit"></i>
            <% end %>
          </div>
        </div>

      <% end %>

    </div>


     <!-- SIDEBAR -->
     <div class="sidebar-list-container">
        <div class="sidebar-list">
          <p>TAGS</p>

          <% if policy(current_user).create? %>
            <%= link_to new_tag_path do%>
              <i class="fas fa-tags"></i>
            <% end %>
          <% end %>

          <div class="sidebar-title">
          <%= render :partial => "tags/index" , locals: {tags: @tags}%>
          </div>

        </div>
     </div>
  </div>


</div>

