<div class="fixing-margin">
  <div class="show-container">
    <div class="show-container-img">

      <%= cl_image_tag @notebook.photo.key%>
      <div class="show-container-icons">
        <% if @user %>
          <% if policy(@user).update? %>
            <%= link_to edit_notebook_path(@notebook) do%>
              <i class="btn btn-lg fas fa-edit"></i>
            <% end %>
          <% end %>

          <% if policy(@user).destroy? %>
            <%= link_to notebook_path(@notebook), method:'DELETE', data: { confirm: "Are you sure?" } do %>
              <i class="btn btn-lg fas fa-trash"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="show-price">
        <p> <%= @notebook.offer_price %> </p>
      </div>
    </div>

    <div class="show-container-info">
      <% if @notebook.name %>
        <h1> <%= @notebook.name %> </h1>
      <% else %>
        <h1> <%= @notebook.general_info %></h1>
      <% end %>

      <div class="card-header" id="headingOne" >
        Detalhes Técnicos
      </div>
      <div class="card">
        <p> Marca: <%= @notebook.brand %> </p>
        <p> Modelo: <%= @notebook.modelo %> </p>
        <p> Processador: <%= @notebook.processor %> </p>
        <p> Cor: <%= @notebook.color %> </p>
        <p> Tela: <%= @notebook.screen %> </p>
        <p> Peso: <%= (@notebook.weight).to_f.round(2) %> kg </p>
        <p> RAM: <%= @notebook.ram %> </p>
        <p> HD: <%= @notebook.hd %> </p>
        <p> SSD: <%= @notebook.ssd %> </p>
        <p> Placa de vídeo: <%= @notebook.placa_video %> </p>
        <p> Garantia: <%= @notebook.guarantee %> </p>
        <a href="<%= @notebook.link_amazon %>" target='_blank'>Ir a loja da Amazon</a>
      </div>
    </div>
  </div>
</div>
