<h1>Em construção</h1>


  <p> bar code : <%= @notebook.bar_code %> </p>
  <p> full price : <%= @notebook.full_price %> </p>
  <p> offer price : <%= @notebook.offer_price %> </p>
  <p> brand : <%= @notebook.brand %> </p>
  <p> modelo : <%= @notebook.modelo %> </p>
  <p> processor : <%= @notebook.processor %> </p>
  <p> color : <%= @notebook.color %> </p>
  <p> screen : <%= @notebook.screen %> </p>
  <p> weight : <%= @notebook.weight %> </p>
  <p> ram : <%= @notebook.ram %> </p>
  <p> hd : <%= @notebook.hd %> </p>
  <p> ssd : <%= @notebook.ssd %> </p>
  <p> placa_video : <%= @notebook.placa_video %> </p>
  <p> keyboard : <%= @notebook.keyboard %> </p>
  <p> amazon_sales_rank : <%= @notebook.amazon_sales_rank %> </p>
  <p> guarantee : <%= @notebook.guarantee %> </p>
  <p> link amazon :  <%= @notebook.bar_code %> </p>
