<!-- Código antigo -->
  <div class="show-container">
    <div class="show-container-img">
      <%= cl_image_tag @notebook.photo.key%>
      <div class="show-container-icons">

        <% if @user %>
          <% if policy(@user).update? %>
            <%= link_to edit_notebook_path(@notebook) do%>
              <i class="fas fa-edit"></i>
            <% end %>
          <% end %>

          <% if policy(@user).destroy? %>
            <%= link_to notebook_path(@notebook), method:'DELETE', data: { confirm: "Are you sure?" } do %>
              <i class="fas fa-trash"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="show-price">

        <p> <strike> <%= @notebook.full_price %> </strike> </p>
        <p> <%= @notebook.offer_price %> </p>

      </div>
    </div>

    <div class="show-container-info">
      <% if @notebook.name %>
        <h1> <%= @notebook.name %> </h1>
      <% else %>
         <h1> <%= @notebook.ram.split(',')[0] %></h1>
      <% end %>



    <!-- Bootstrap collapse code -->

    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Informações Gerais
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <% if @notebook.general_info%>
              <p><%= @notebook.general_info %> </p>
            <% else %>
              <p><%= @notebook.ram %> </p>
            <% end %>

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Detalhes Técnicos
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <p> brand : <%= @notebook.brand %> </p>
            <p> modelo : <%= @notebook.modelo %> </p>
            <p> processor : <%= @notebook.processor %> </p>
            <p> color : <%= @notebook.color %> </p>
            <p> screen : <%= @notebook.screen %> </p>
            <p> weight : <%= (@notebook.weight).to_f.round(2) %> kg </p>
            <p> ram : <%= @notebook.ram %> </p>
            <p> hd : <%= @notebook.hd %> </p>
            <p> ssd : <%= @notebook.ssd %> </p>
            <p> placa_video : <%= @notebook.placa_video %> </p>
            <p> keyboard : <%= @notebook.keyboard %> </p>
            <p> amazon_sales_rank : <%= @notebook.amazon_sales_rank %> </p>
            <p> guarantee : <%= @notebook.guarantee %> </p>
            <p> link amazon : <a href="<%= @notebook.link_amazon %>" target='_blank'> me leve para o site da amazon</a>
          </div>
        </div>
      </div>
    </div>













    </div>
  </div>
</html>
