<!-- Pagina com resultado de buscas -->

<!-- Barra de busca -->
<%= form_tag notebooks_path, method: :get, style:"display:flex; margin-top:16px;" do %>
  <%= text_field_tag :query, params[:query], style:"position:relative;width:100%;padding-right:36px;", placeholder: "Buscar por tags (ex: photoshop)" do %>
  <% end %>
    <%= button_tag(type: "submit", class: "btn btn-default") do %>
      <i class="fas fa-search"></i>
    <% end %>
<% end %>

<!-- Aqui ficam as TAGS selecionadas -->
<div class="tag-row">
  <% if @query %>
    <% @query.each do |item| %>
      <div class="mobile-index-tag">
        <p><%= item.capitalize %></p>
      </div>
    <% end %>
  <% end %>
</div>


<!-- REFATORAR - codigo pra img pode ir so uma vez -->

<!-- Resultado de busca com notebooks -->
<% @notebooks.each do |notebook|  %>
  <% if notebook.name.nil?  %>
    <%= link_to notebook_path(notebook), data: { turbolinks: false }, class:'col-6' do %>
      <div class="mobile-category-card">
        <% if notebook.pictures.attached? %>
          <%= cl_image_tag(notebook.pictures.first.key, class: "mobile-note-img", :transformation => {:width=>400, :height=>400, :crop=>"fill"}) %>
        <% elsif notebook.photo.attached? %>
          <%= cl_image_tag(notebook.photo.key, class: "mobile-note-img", :transformation => {:width=>400, :height=>400, :crop=>"fill"}) %>
        <% else %>
          <%= image_tag('noimage.png', class: "mobile-note-img") %>
        <% end %>

        <div class="card-row">
          <h3><%= notebook.general_info.split('').first(60).join('') %></h3>
          <p><%= notebook.amazon_price %></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= link_to notebook_path(notebook), data: { turbolinks: false }, class:'col-6' do %>
      <div class="mobile-category-card">
        <% if notebook.pictures.attached? %>
          <%= cl_image_tag(notebook.pictures.first.key, :transformation => {:width=>400, :height=>400, :crop=>"fill"}) %>
        <% elsif notebook.photo.attached? %>
          <%= cl_image_tag(notebook.photo.key, :transformation => {:width=>400, :height=>400, :crop=>"fill"}) %>
        <% else %>
          <%= image_tag 'noimage.png' %>
        <% end %>

        <div class="card-row">
          <h3><%= notebook.name.split('').first(60).join('') %>...</h3>
          <p><%= notebook.amazon_price %></p>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>


<!-- Resultado de busca com notebooks -->
<div class="mobile-results">
  <div class="mobile-card-result">
    <% @notebooks.each do |notebook|  %>
      <%= link_to notebook_path(notebook), data: { turbolinks: false } do %>
        <% if notebook.pictures.attached? %>
          <%= cl_image_tag(notebook.pictures.first.key) %>
        <% elsif notebook.photo.attached? %>
          <%= cl_image_tag(notebook.photo.key) %>
        <% else %>
          <%= image_tag('noimage.png') %>
        <% end %>

        <% if notebook.name.nil? %>
          <p class="name"><%= notebook.general_info.split('').first(60).join('') %></p>
        <% else %>
          <p class="name"><%= notebook.name.split('').first(60).join('') %>...</p>
        <% end %>

        <p class="price"><%= notebook.amazon_price %></p>
      <% end %>
    <% end %>
  </div>
</div>

<!-- Temos pictures e photo acopladas. O photo fizemos no comeco mas
depois queriamos poder colocar varias so que nao dava pra mudar isso sem ter que
fazer tudo de novo ai colocamos o pictures que e o que usamos principalmente -->

<!-- No heroku o nome fica no name mas no localhost fica no general_info.
Essa logica permite que o nome sempre apareca -->
