<div class="show-container-info">
      <h2> <%= @notebook.name %> </h2>

    <div class="card-header" id="headingOne" >
        Detalhes Técnicos
    </div>
      <div class="card">
        <p> Marca: <%= @notebook.brand %> </p>
        <p> Cor: <%= @notebook.color %> </p>
        <p> Modelo: <%= @notebook.modelo %> </p>
        <p> Processador: <%= @notebook.processor %> </p>
        <p> Tela: <%= @notebook.screen_size %>" </p>
        <p> Peso: <%= (@notebook.weight).to_f.round(2) %> kg </p>
        <p> RAM: <%= @notebook.ram %> </p>
        <p> HD: <%= @notebook.hd %> </p>
        <p> SSD: <%= @notebook.ssd %> </p>
        <p> Placa de vídeo: <%= @notebook.placa_video %> </p>
      </div>
    </div>
</div>   